.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.crystal{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 2s, transform 2s;
}

.crystal:hover{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform: translate(3px,30px);
    transition: box-shadow 2s, transform 2s;
}
#result{
    text-align: center;
    font-family: 'Montez', cursive;
    font-size: 50px;
    color:yellow;
}
#previous{
    text-align: center;
    font-family: 'Montez', cursive;
    font-size: 40px;
    color: white;
}
#lost{
    text-align: center;
    font-family: 'Montez', cursive;
    font-size: 40px;
    color: red;
}
#win{
    text-align: center;
    font-family: 'Montez', cursive;
    font-size: 40px;
    color: green;
}
body{
    background:url("diamonds.jpg");
    background-size: cover;
}